Papers/
TwoAtInOL/
Simulations/ix4993_iy4993_iz50
Simulations/ix5505_iy4993_iz50
Simulations/ix6042_iy4993_iz50
Simulations/ix6604_iy4993_iz50
Simulations/q1d.tar.gz
Simulations/eigen_2020-09-23/
Simulations/eigen_2020-09-23.tar.gz
Simulations.tar.gz
Simulations/
intel/
plots/
asc_integral/
Project/
